body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;
}

.header{
background:#000;
color:#fff;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.header a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero{
background:white;
padding:80px;
text-align:center;
}

.btn{
background:black;
color:white;
padding:12px 25px;
text-decoration:none;
border:none;
cursor:pointer;
}

.products{
display:flex;
justify-content:center;
padding:20px;
}

.product{
background:white;
padding:15px;
width:220px;
text-align:center;
}

.product img{
width:100%;
}

.title{
text-align:center;
margin:20px;
}
